.modal {
 height:  100vh;
 width: 100vw;
 background-color: rgba(0,0,0,0.4);
 position: fixed;
 top: 0;
 left: 0;
 display: flex;
 align-items: center;
 justify-content: center;
}

.modal-content {
    border-radius:  12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 40vw;
    font-family: 'Montserrat', sans-serif;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        background-color: rgba(255, 255, 255, 0.1);
        text-align: center;
        color: white;
        font-size: 30px;
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        padding: 10px 0 10px 0;        
    }

    &__text {
        color: white;
        text-align: center;
        padding: 30px;
    }
    
    &__close-btn-cross {
        position: relative;
        left: 10px;
       
        width: 32px;
        height: 32px;
        opacity: 0.9;
        cursor: pointer;
        padding: 20px;

            &:hover {
            opacity: 1;
         }

         &::before, &::after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: white;
         }

         &::before {
            transform: rotate(45deg);
         }

         &::after {
            transform: rotate(-45deg); 
         }
    }
}

.btn-container {
    display: flex;
    padding: 30px;
    justify-content: center;
    
    &__btn {
        width: 25%;
        height: 40px;
        font-size: 20px;
        margin: 20px;
    }
}


.cartImage {
    max-width: 100px;
    max-height: 100px;

}

.modal-cart-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px 0 20px 0;

    & p {
        color: white;
        font-size: 15px;
        
    }
}

.cartImage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px 0 20px;
}